@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); /* ============================== GLOBAL ============================== */
* {
  margin: 0;
  bottom: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #E6FFFD;
}

img {
  width: 100%;
}

section {
  padding: 5rem 0;
}

section:nth-child(even) {
  background-color: #ACBCFF;
}

ul {
  list-style: none;
}

a {
  color: #212121;
  text-decoration: none;
}

.logo {
  width: 3rem;
}

/* ============================== NAVBAR ============================== */
nav {
  background-color: #AEE2FF;
  padding: 2rem;
}

.mapa iframe {
  width: 100%;
}

.nav__logo {
  width: 3%;
  position: absolute;
  top: 1rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__link a {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav__link a:hover {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(255, 133, 218, 0.75);
          box-shadow: 0px 2px 15px 0px rgba(255, 133, 218, 0.75);
  color: #B799FF;
}

/* ---------------- CLASES ESPECIALES */
.cursive {
  font-family: "Pacifico", cursive;
}

.subtitle {
  font-size: 3rem;
  color: #B799FF;
  margin: 5rem auto;
  text-align: center;
}

.white {
  color: white;
}

button {
  border: 2px solid #B799FF;
  background-color: #ACBCFF;
  font-weight: bold;
  border-radius: 20px;
  padding: 0 1rem;
}

/* ============================== BOX MODELING ============================== */
.boxModeling__container {
  background-color: white;
  text-align: center;
  /* LIVE */
  padding: 4rem 1rem;
}

.boxModeling__container h1 {
  color: #B799FF;
  font-size: 4rem;
}

.boxModeling__container h2 {
  color: #ACBCFF;
}

/* ============================== FLEXBOX ============================== */
.cards__container {
  /* LIVE */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards__container .card {
  width: 15rem;
  padding: 1rem 1.5rem;
  margin: 1rem;
  background-color: #AEE2FF;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.cards__container .card img {
  border-radius: 15px;
}

.cards__container .card h3 {
  font-size: 1.5rem;
  color: #f04654;
}

.cards__container .card h3,
.cards__container .card p {
  margin: 0.5rem 0;
}

.cards__container .card div {
  /* LIVE */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__price {
  color: #f04654;
  font-weight: bold;
  font-size: 1.8rem;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 14px 0px rgba(255, 133, 218, 0.75);
          box-shadow: 0px 4px 14px 0px rgba(255, 133, 218, 0.75);
}

/* ============================== GRIDS ============================== */
.grid__container {
  /* LIVE */
  /* display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
      "title title img img"
      "map   map   img img"
      "map   map   CTA CTA"
  ; */
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "title title img img" "map   map   img img" "map   map   CTA CTA";
}

.grid__container h2 {
  grid-area: title;
}

.grid__container iframe {
  grid-area: map;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 12px -1px rgba(255, 133, 218, 0.75);
          box-shadow: 0px 6px 12px -1px rgba(255, 133, 218, 0.75);
}

.grid__container img {
  grid-area: img;
  width: 80%;
  margin: auto;
  border: 40px solid white;
  -webkit-box-shadow: 0px 6px 12px -1px rgba(255, 133, 218, 0.75);
          box-shadow: 0px 6px 12px -1px rgba(255, 133, 218, 0.75);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.grid__container img:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.grid__container h4 {
  grid-area: CTA;
  background-color: white;
  -webkit-box-shadow: 0px 6px 12px -1px rgba(255, 133, 218, 0.75);
          box-shadow: 0px 6px 12px -1px rgba(255, 133, 218, 0.75);
  padding: 1rem;
  border-radius: 20px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.grid__container h4:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #B799FF;
  color: white;
}

.grid__container h4::after {
  content: "😊";
}

.grid__container h4:hover::after {
  content: "🧁";
}

/* ============================== BOOTSTRAP ============================== */
.bootstrap__container {
  padding: 5% 15%;
}

/* ============================== FOOTER ============================== */
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 5%;
  background-color: #AEE2FF;
  -webkit-box-shadow: inset 0 10px 9px -7px #B799FF;
          box-shadow: inset 0 10px 9px -7px #B799FF;
}

.footer__container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container article img {
  width: 10%;
  margin: 0 1rem;
}

.logo {
  width: 3rem;
}

/* =========================================================================== */
/* ============================== MEDIA QUERIES ============================== */
/* =========================================================================== */
/* ---------- MOBILE ----------  */
@media screen and (max-width: 500px) {
  body {
    background-color: red;
  }
}
/* ---------- TABLET ----------  */
@media screen and (min-width: 501px) and (max-width: 1100px) {
  body {
    background-color: blue;
  }
  .grid__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid__container img {
    margin-top: 5rem;
  }
  .grid__container iframe {
    display: none;
  }
}
/* ---------- DESKTOP ----------  */
@media screen and (min-width: 1101px) and (max-width: 1400px) {
  body {
    background-color: green;
  }
}
/* ---------- XXL ----------  */
@media screen and (min-width: 1401px) {
  body {
    background-color: orange;
    max-width: 1440px;
    margin: auto;
  }
}